.titre_principal
{
color: fuchsia;
}

.special
{
color: #FFA214;
}

.police
{
font-family: Comic Sans MS;
}

body
{
background-image: url("neige.png");
background-attachment: fixed; /* Le fond restera fixe */
}
