

body {
    background-image: url("images/leydclassic.jpg");
    background-position: center 100px;
    background-size: cover;
      opacity: 0.7;
}

#boutonpage1
{
  width: 45vw;
 height: 30vh;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
  color: #d61056;
  border: 10px solid #ff0059;
  border-radius: 12px;
  padding: 12px 30px;
  display: inline-block;
  background-image: url(900w-TRWFt1z_Oz4.png);
    background-size: cover;
  font-family: Comic Sans MS, cursive, sans-serif;
  filter: invert(1) grayscale(1);
}

#boutonpage2
{
    float: right;
      width: 45vw;
 height: 30vh;
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0;
  color: #ffffff;
  border: 10px solid #ffffff;
  border-radius: 12px;
  padding: 12px 20px;
  display: inline-block;
background-image: url(images/fondleyd.png);
background-size: cover;
background-position: center 20px;
  font-family : Comic Sans MS, cursive, sans-serif;
  filter: invert(1) grayscale(1);
}

#boutonpage3
{  
  width: 45vw;
 height: 30vh;  
  font-size: 1.6em;
  font-weight: bold;
  margin: 20px 0;
  color: #008afb;
  border: 10px solid #3563b9;
  border-radius: 12px;
  padding: 12px 20px;
  display: inline-block;
  background-image: url(images/fondleydanime.png);
  background-size: contain;
  background-position: center;
  font-family : Comic Sans MS, cursive, sans-serif;
  filter: invert(1) grayscale(1);
}

#boutonpage4
{
    float: right;
      width: 45vw;
 height: 30vh;
  font-size: 1.em;
  font-weight: bold;
  margin: 20px 0;
  color: #ffffff;
  border: 10px solid #ffffff;
  border-radius: 12px;
  padding: 12px 20px;
  display: inline-block;
background-image: url(images/leydsansdina.png);
background-size: cover;
background-position: center -30px;
  font-family : Comic Sans MS, cursive, sans-serif;
  filter: none;
}